INDICE_GENERAL.md

# Bases_modulo_1/PSeInt/Clase_1/Clase_1.md
# Bases_modulo_1/PSeInt/Clase_2/Clase_2.md

# Bases_modulo_1/Python/Clase_3/Clase_3.md
# Bases_modulo_1/Python/Clase_4/Clase_4.md
# Bases_modulo_1/Python/Clase_5/Clase_5.md
# Bases_modulo_1/Python/Clase_6/Clase_6.md
# Bases_modulo_1/Python/Clase_7/Clase_7.md
# Bases_modulo_1/Python/Clase_8/Clase_8.md
# Bases_modulo_1/Python/Clase_9/Clase_9.md
# Bases_modulo_1/Python/Clase_10/Clase_10.md

# Bases_modulo_1/Git/Clase_11/Clase_11.md

# Bases_modulo_1/SQL/Clase_12/Clase_12.md
# Bases_modulo_1/SQL/Clase_13/Clase_13.md
# Bases_modulo_1/SQL/Clase_14/Clase_14.md

# POO_modulo_2/Java/Clase_13/Clase_13.md
# POO_modulo_2/Java/Clase_14/Clase_14.md
# POO_modulo_2/Java/Clase_15/Clase_15.md
# POO_modulo_2/Java/Clase_16/Clase_16.md
# POO_modulo_2/Java/Clase_17/Clase_17.md